    <div class="modal-header">
      <h3 class="modal-title" ng-show="w.type == 0" translate="ID_SET_JNR_PASSWORD"></h3>
      <h3 class="modal-title" ng-show="w.type == 1" translate="ID_CHANGE_JNR_PASSWORD"></h3>
      <h6 class="modal-title" ng-show="w.type == 1"><img ng-src="{{w.item.img}}" alt="{{w.item.alt}}"/>{{w.item.tick_str}} {{w.item.title}}</h6>
    </div>
    <div class="modal-body">
      <form role="form">
        <div class="form-group" ng-show="w.type == 1 && w.encrypted">
          <label for="password0">{{'IDC_STATIC_5_OLD' | translate}}</label>
          <input type="password" class="form-control" id="password0" ng-model="w.password0">
        </div>
        <div class="form-group">
          <label for="password1">{{'IDC_STATIC_6_NEW' | translate}}</label>
          <input type="password" class="form-control" id="password1" ng-model="w.password1">
        </div>
        <div class="form-group">
          <label for="password2">{{'IDC_STATIC_7_CONFIRM' | translate}}</label>
          <input type="password" class="form-control" id="password2" ng-model="w.password2">
        </div>
        <div class="form-group">
          <label>{{'IDC_STATIC_4_CAUTION' | translate}}</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="ok()" translate="ID_OK"></button>
      <button type="button" class="btn btn-warning" ng-click="cancel()" translate="ID_CANCEL"></button>
    </div>
