    <div class="modal-header">
      <h3 class="modal-title">{{'ID_POLL_REQUEST' | translate}}</h3>
    </div>
    <div class="modal-body">
      <form role="form">
        <div class="form-group">
          <input type="radio" value="1" ng-model="w.poll_result">1</input><br>
          <input type="radio" value="2" ng-model="w.poll_result">2</input><br>
          <input type="radio" value="3" ng-model="w.poll_result">3</input><br>
          <input type="radio" value="4" ng-model="w.poll_result">4</input><br>
          <input type="radio" value="5" ng-model="w.poll_result">5</input>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="ok()" translate="ID_OK"></button>
      <button type="button" class="btn btn-warning" ng-click="cancel()">{{cancel_value}}</button>
    </div>
