      <div ng-controller="Chat2Ctrl">
        <jn-chat></jn-chat>
        <div class="like-table" ng-show="can_show_send_button()">
          <div class="like-row">
            <div class="fill-cell">
              <textarea class="auto-width vertical-resize" cols="100" rows="3" chat-finder ng-keypress="onkeypress($event)" ng-model="w.chat_input"></textarea>
            </div>
            <div class="fix-cell">
              <button type="button" class="btn btn-default" ng-click="send_textchat()" ng-style="style_height_send_button" translate="IDC_SEND"></button>
            </div>
          </div>
        </div>
        <div>
          <span ng-show="can_show_send_button()">
            <span translate="ID_SENDTEXTTO"></span> 
            <select style="max-width: 160px;" ng-model="w.sendto_ssrc">
              <option ng-selected="1" value="-1" translate="IDS_EVERYONE"></option>
              <option ng-repeat="user in ul.user_list | limitTo: limit1 | limitTo: -limit2" value="{{user.ssrc}}">{{user.name}}</option>
            </select>
          </span>
          <span><button type="button" class="btn btn-default" tooltip="{{as.no_tip ? '' : ('ID_SCROLL_TO_TOP' | translate)}}" ng-click="scroll_to_top()"> <span class="glyphicon glyphicon-chevron-up"></span> </button></span>
          <span><button type="button" class="btn btn-default" bottom-finder tooltip="{{as.no_tip ? '' : ('ID_SCROLL_TO_BOTTOM' | translate)}}" ng-click="scroll_to_bottom()"> <span class="glyphicon glyphicon-chevron-down"></span> </button></span>
        </div>
      </div>
