<span ng-controller="ReconnectNameCtrl">
    <p translate="ID_RECONNECT_NAME_PROMPT"></p>
    <div class="table-responsive border-autoscroll">
      <table class="table table-condensed">
        <thead>
          <tr style="white-space: nowrap;">
            <th translate="ID_ACTION"></th>
            <th translate="IDS_COL_NAME"></th>
            <th translate="IDS_COL_IM_TIME"></th>
            <th translate="ID_SSRC"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in w.reconnect_name_array track by item.reconnect_name">
            <td>
              <button type="button" class="btn btn-default" ng-click="connect(item)" translate="ID_RECONNECT"></button>
              <button type="button" class="btn btn-default" ng-click="open_jnj(item)" translate="ID_OPEN_JNJ"></button>
              <button type="button" class="btn btn-default" ng-click="remove(item)" tooltip="{{as.no_tip || as.show_text ? '' : ('ID_DELETE' | translate)}}">
                <span class="glyphicon glyphicon-remove">
                <span ng-show="as.show_text" translate="ID_DELETE"></span></button>
            </td>
            <td>{{calc_real_name(item)}}</td>
            <td>{{item.time_str}}</td>
            <td>{{item.ssrc}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</span>
